{% extends 'core/base-nologado.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}

    <div class="imagen-dama">
        <img src="{% static 'iconos/LDDC-icono.png' %}" alt="">
    </div>
    <h1 class="title-general title-login">La Dama del Cancho</h1>
    
    


    <div class="principal-no-logado">

        
    
        <div class="contenedor-login">

            
    
            <div class="contenedor-dcha">
                <h2 class="title title-registration">{{title}}</h2>

                {% if 'register' in request.GET %}
                    <p class="mensaje-registration success">Usuario registrado correctamente, puedes identificarte</p>
                {% endif %}
                {% if 'existe' in request.GET %}
                    <p class="mensaje-registration success">Se ha envíado un correo para recuperar su contraseña</p>
                {% endif %}
                {% if 'changed' in request.GET %}
                    <p class="mensaje-registration success">Se ha cambiado su contraseña, intente acceder de nuevo</p>
                {% endif %}
                {% if 'noMatch' in request.GET %}
                    <p class="mensaje-registration error">Usuario y/o contraseña incorrectos</p>
                {% endif %}
                {% if 'expirado' in request.GET %}
                    <p class="mensaje-registration error">En enlace para resetear la contraseña expiró</p>
                {% endif %}
                {% if 'formFault' in request.GET %}
                    <p class="mensaje-registration error">Rellene todo el formulario</span></p>
                {% endif %}
                {% if 'errornewpassword' in request.GET %}
                    <p class="mensaje-registration error">Error en el proceso de cambio de contraseña</span></p>
                {% endif %}
                
                
                <form  class="formulario formulario-login" method="POST">
                    {% csrf_token %}
        
                    <div class="formulario-group">
                        <input type="text" name="username" autofocus maxlength="254"
                            id="id_username" class="formulario-input" placeholder="Nombre de usuario"/>
                    </div>
                    <div class="formulario-group">
                        <input type="password" name="password"
                        id="id_password" class="formulario-input" placeholder="Contraseña"/>
                    </div>
                        
                    <div class="formulario-group group-reset">
                        <input type="submit" class="btn btn-success" value="Acceder" onclick="cargarLoader()">
                        <a class="btn btn-success color-red" href="{% url 'rutas' %}" class="link-volver">Volver</a>
                    </div>
        
                    <div class="formulario-recordatorio">
                        <p class="formulario-recordatorio-texto">Si quieres registrarte pulsa <a class="formulario-recordatorio-link" href="{% url 'signup' %}" onclick="cargarLoader()">aquí</a></p>
                        <p class="formulario-recordatorio-texto">¿Ha olvidado su clave? Puede restaurarla <a class="formulario-recordatorio-link" href="{% url 'change' %}" onclick="cargarLoader()">aquí</a></p>
                    </div>
        
                </form>
            </div>
            
    
        </div>

    </div>

    <script>

        const mediaQuery = window.matchMedia('(min-width: 768px)');
        var loaderGeneral = document.getElementById('loader-general');
        loaderGeneral.style.top='24.2%';
        
        function comprobarScreen() {
            if( screen.width < 768) {
                loaderGeneral.style.left='38.5%';
                loaderGeneral.style.top='29.2%';
            } else {
                loaderGeneral.style.left='47.5%';
                loaderGeneral.style.top='45.2%';
            }
        }

        function handleScreenSizeChange(mediaQuery) {
            if (mediaQuery.matches) {
                //mas de 768px
                loaderGeneral.style.left='47.5%';
                loaderGeneral.style.top='45.2%';
                
            } else {
                //menos de 768px
                loaderGeneral.style.left='38.5%';
                loaderGeneral.style.top='29.2%';
            }
        }

        comprobarScreen()
        mediaQuery.addListener(handleScreenSizeChange);


    </script>

    
{% endblock %}



