{% extends 'core/base-nologado.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}

    <div class="imagen-dama">
        <img src="{% static 'iconos/LDDC-icono.png' %}"  alt="">
    </div>
    <h1 class="title-general title-login">La Dama del Cancho</h1>

    <div class="principal-no-logado">
    
        <div class="contenedor-login contenedor-login__reset">

            
    
            <div class="contenedor-reset">
                <h2 class="title title-registration">{{title}}</h2>

                {% if 'error' in request.GET %}
                    <p class="mensaje-registration error">Las contraseñas no son iguales</p>
                {% endif %}
        
                <form  class="formulario formulario-login" method="POST">
                    {% csrf_token %}
        
                    <div class="formulario-group">
                        <input type="password" name="password1" autofocus maxlength="254"
                            id="id_password1" class="formulario-input" placeholder="Contraseña"/>
                    </div>

                    <div class="formulario-group">
                        <input type="password" name="password2" autofocus maxlength="254"
                            id="id_password2" class="formulario-input" placeholder="Repita contraseña"/>
                    </div>
                        
                    <div class="formulario-group group-reset">
                        <input type="submit" class="btn btn-success" value="Cambiar" onclick="cargarLoader()">
                        <a class="btn btn-success color-red" href="{% url 'login' %}" class="link-volver">Volver</a>
                    </div>
        
        
                </form>
            </div>
            
    
        </div>

    </div>

    <script>
        const mediaQuery = window.matchMedia('(min-width: 768px)');
        var loaderGeneral = document.getElementById('loader-general');
        loaderGeneral.style.top='14.2%';
        
        function comprobarScreen() {
            if( screen.width < 768) {
                loaderGeneral.style.left='38.5%';
            } else {
                loaderGeneral.style.left='41.5%';
            }
        }

        function handleScreenSizeChange(mediaQuery) {
            if (mediaQuery.matches) {
                //mas de 768px
                loaderGeneral.style.left='41.5%';
                
                
            } else {
                //menos de 768px
                loaderGeneral.style.left='38.5%';
            }
        }

        comprobarScreen()
        mediaQuery.addListener(handleScreenSizeChange);

    </script>

    
{% endblock %}



